<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#אריתמטיקה" data-toc-modified-id="אריתמטיקה-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>אריתמטיקה</a></span></li><li><span><a href="#שיוך-משתנים" data-toc-modified-id="שיוך-משתנים-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>שיוך משתנים</a></span></li><li><span><a href="#מחרוזות" data-toc-modified-id="מחרוזות-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>מחרוזות</a></span></li><li><span><a href="#Print-formatting-with-string" data-toc-modified-id="Print-formatting-with-string-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Print formatting with string</a></span></li><li><span><a href="#רשימות" data-toc-modified-id="רשימות-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>רשימות</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Dictionaries</a></span></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Sets" data-toc-modified-id="Sets-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Sets</a></span></li><li><span><a href="#booleans" data-toc-modified-id="booleans-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>booleans</a></span></li><li><span><a href="#I/O-with-basic-files" data-toc-modified-id="I/O-with-basic-files-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>I/O with basic files</a></span></li><li><span><a href="#Comparison-operators" data-toc-modified-id="Comparison-operators-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Comparison operators</a></span></li><li><span><a href="#If,-elif,-else-Statments" data-toc-modified-id="If,-elif,-else-Statments-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>If, elif, else Statments</a></span></li><li><span><a href="#For-Loops" data-toc-modified-id="For-Loops-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>For Loops</a></span></li><li><span><a href="#While-Loops" data-toc-modified-id="While-Loops-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>While Loops</a></span></li><li><span><a href="#Built-in-functions" data-toc-modified-id="Built-in-functions-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Built-in functions</a></span></li><li><span><a href="#List-Comprehensions" data-toc-modified-id="List-Comprehensions-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>List Comprehensions</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#דוגמה-1" data-toc-modified-id="דוגמה-1-16.0.1"><span class="toc-item-num">16.0.1&nbsp;&nbsp;</span>דוגמה 1</a></span></li><li><span><a href="#דוגמה-2" data-toc-modified-id="דוגמה-2-16.0.2"><span class="toc-item-num">16.0.2&nbsp;&nbsp;</span>דוגמה 2</a></span></li></ul></li><li><span><a href="#Help" data-toc-modified-id="Help-16.1"><span class="toc-item-num">16.1&nbsp;&nbsp;</span>Help</a></span></li></ul></li><li><span><a href="#Function" data-toc-modified-id="Function-17"><span class="toc-item-num">17&nbsp;&nbsp;</span>Function</a></span><ul class="toc-item"><li><span><a href="#*args-and-**kwargs" data-toc-modified-id="*args-and-**kwargs-17.1"><span class="toc-item-num">17.1&nbsp;&nbsp;</span>*args and **kwargs</a></span></li><li><span><a href="#Map" data-toc-modified-id="Map-17.2"><span class="toc-item-num">17.2&nbsp;&nbsp;</span>Map</a></span></li><li><span><a href="#Filter" data-toc-modified-id="Filter-17.3"><span class="toc-item-num">17.3&nbsp;&nbsp;</span>Filter</a></span></li><li><span><a href="#Lambda-expression" data-toc-modified-id="Lambda-expression-17.4"><span class="toc-item-num">17.4&nbsp;&nbsp;</span>Lambda expression</a></span></li></ul></li><li><span><a href="#Scope" data-toc-modified-id="Scope-18"><span class="toc-item-num">18&nbsp;&nbsp;</span>Scope</a></span></li></ul></div>

# אריתמטיקה

In [1]:
#חיבור וחיסור
2+1

3

In [2]:
3-1

2

In [3]:
# חילוק
3/2

1.5

In [4]:
# Floor Division
#כמה פעמים 5 נכנס ב18 
18//5

3

In [5]:
# modulo
#ארבע נכנס בתשע פעמיים והשארית היא אחד
9%4

1

In [6]:
#חזקה
2**8

256

In [7]:
# סדר פעולות חשבון - כפל וחילוק קודמים לחיבור וחיסור
2 + 10 * 10 + 3

105

In [8]:
# סוגריים
(2 + 10) * (10 + 3)

156

# שיוך משתנים

In [9]:
a = 5

In [10]:
A = 6

In [11]:
a + A

11

In [12]:
a

5

In [13]:
# השתמש באיי כדי להגדיר מחדש את איי

In [14]:
a = a + a

In [15]:
# בדוק
a

10

In [16]:
my_income = 2500

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [17]:
# תראה לי כמה המיסים
my_taxes

250.0

In [18]:
# שיוך רשימה למשתנה
my_dogs = ['Sammy', 'Frankie']

In [19]:
my_dogs

['Sammy', 'Frankie']

In [20]:
# תשייך שוב ותוסיף לקיים
a += 3

In [21]:
a

13

In [22]:
# תשייך שוב ותחלק את הקיים
a /= 3

In [23]:
a

4.333333333333333

In [24]:
type(a)

float

In [25]:
#מציג את הסוג
type(A)

int

In [26]:
# tuple
b = (8,4,6,1)

In [27]:
b

(8, 4, 6, 1)

In [28]:
#מציג את הסוג
type(b)

tuple

# מחרוזות

In [29]:
'Hello World!'

'Hello World!'

In [30]:
"My name is Or"

'My name is Or'

In [31]:
"i'm Or"

"i'm Or"

In [32]:
'This is "word"'

'This is "word"'

In [33]:
"this line won't be displayed"
"this line will be displayed"

'this line will be displayed'

In [34]:
print('Use\r\nto print a new line')

Use
to print a new line

In [35]:
#תדפיס סלש אן
print('\\n')

\n

In [36]:
a = 'Hello World'

In [37]:
print(a)

Hello World

In [38]:
#סופר את כמות התווים
len(a)

11

In [39]:
#מציג את האלמנט השני
a[2]

'l'

In [40]:
#מציג את האלמנטים מההתחלה עד אלמנט 4 לא כולל 4
a[:4]

'Hell'

In [41]:
#מציג את האלמנטים מאלמנט 3 עד הסוף
a[3:]

'lo World'

In [42]:
#מציג את האלמנט 2 עד 7 לא כולל 7
a[2:7:]

'llo W'

In [43]:
#מציג את האלמנטים במהופך
a[::-1]

'dlroW olleH'

In [44]:
#מציג את האלמנטים 2 עד 9 לא כולל 9 במרווחים של 2
a[2:9:2]

'loWr'

In [45]:
a

'Hello World'

In [46]:
#שרשור מחרוזות
a + ' concatenate me!'

'Hello World concatenate me!'

In [47]:
#הכפלת מחרוזת
a*3

'Hello WorldHello WorldHello World'

In [48]:
a

'Hello World'

In [49]:
#משנה לרישיות
a.upper()

'HELLO WORLD'

In [50]:
#משנה לקטנות
a.lower()

'hello world'

In [51]:
#מחלק ע"י רווח ריק ונוצרת רשימה
a.split()

['Hello', 'World']

In [52]:
type(a.split())

list

In [53]:
type(a)

str

In [54]:
#מחלק ע"י תו אל
a.split('l')

['He', '', 'o Wor', 'd']

# Print formatting with string
הדפסה למסך בפורמטים שונים

In [55]:
B = '      \r\nonly this!      \r\n'
C = 'abadcd'

In [56]:
print(B)

only this!

In [57]:
#תנקה רווחים וירידות שורה בתחילת וסוף המחרוזת 
print(B.strip())

#תנקה רווחים וירידות שורה בסוף המחרוזת 
print(B.rstrip())

#תנקה רווחים וירידות שורה בתחילת המחרוזת
print(B.lstrip())

#תנקה את התווים איי ודי בתחילת ובסוף המחרוזת
print(C.strip('ad'))

only this!

only this!
only this!

badc

In [58]:
#שתול את המחרוזת בתוך הסוגריים המסולסלים
print('This is my other string {}'.format('INSERTED'))

This is my other string INSERTED

In [59]:
#שתול את המחרוזות בתוך כמה סוגריים מסולסלים
print('i have one {} and also {} ball. I have {} balls.'.format('blue', 'white', '2'))

i have one blue and also white ball. I have 2 balls.

In [60]:
# שתול את המחרוזות בתוך כמה סוגריים מסולסלים על פי האינדקס
print('i have one {1} and also {0} ball. I have {2} balls.'.format('blue', 'ball', '2'))

i have one ball and also blue ball. I have 2 balls.

In [61]:
# שתול את המחרוזות בתוך כמה סוגריים מסולסלים על פי המשתנים

print('i have one {ba} and also {bl} ball. I have {tw} balls.'.format(bl='blue',ba='ball',tw='2'))

i have one ball and also blue ball. I have 2 balls.

In [62]:
b='beach'
h='hot'

#שתול בעזרת שמירת מקום

print("i'm going to the %s. it is going to be %s."%(b,h))

i'm going to the beach. it is going to be hot.

In [63]:
# שתול פלווטינג פויינט נמבר עם 10 מקומות לספרות סה"כ ו2 ספרות אחרי הנקודה
big_number=1234.987654321
small_number=6.789
print('My big floating point number is:%10.2f' %(big_number))
print('My big floating point number is:%10.2f' %(small_number))

My big floating point number is:   1234.99
My big floating point number is:      6.79

In [64]:
#הדפס עם יישורים
print('{0:8} | {1:8}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:8}'.format('Apples', 3.))
print('{0:8} | {1:8}'.format('Oranges', 10))
print('{0:8} | {1:8}'.format('Bananas', 123.25))

Fruit    | Quantity
Apples   |      3.0
Oranges  |       10
Bananas  |   123.25

In [65]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(1.2,25,8))

Left     |  Center  |    Right
1.2      |    25    |        8

# רשימות
רשימות הם קבוצה של אובייקטים מסוגים שונים, ניתן לשנות את האובייקטים לרשימה קיימת להוסיף ו/או להחסיר אובייקטים.

In [66]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [67]:
my_second_list = ['string',100,123.541,'fff']
my_second_list

['string', 100, 123.541, 'fff']

In [68]:
len(my_second_list)

4

In [69]:
#תציג את האובייקט באינדקס 2
my_second_list[2]

123.541

In [70]:
#תציג את האובייקט באינדקס 2 עד הסוף
my_second_list[2:]

[123.541, 'fff']

In [71]:
#תציג את האובייקטים עד אינדקס 2 לא כולל
my_second_list[:2]

['string', 100]

In [72]:
#תציג את האובייקטים בסדר הפוך
my_second_list[::-1]

['fff', 123.541, 100, 'string']

In [73]:
#שירשור שתי רשימות יחד
my_list + my_second_list

[1, 2, 3, 'string', 100, 123.541, 'fff']

In [74]:
my_list

[1, 2, 3]

In [75]:
#לכדי רשימה חדשה
my_third_list = my_list + my_second_list

In [76]:
my_third_list

[1, 2, 3, 'string', 100, 123.541, 'fff']

In [77]:
#רשימה ואובייקט מכוננות בתוך רשימה

nested = ['element1','element2','element3',['nested1',my_third_list]]
print(nested)

['element1', 'element2', 'element3', ['nested1', [1, 2, 3, 'string', 100, 123.541, 'fff']]]

In [78]:
#מציג כמה אובייקטים יש ברשימה
len(nested)

4

In [79]:
len(my_third_list)

7

In [80]:
#מציג את סוג המשתנה
type(my_third_list)

list

In [81]:
# מציג את סוג המשתנה במיקום אינדקס 2
type(my_third_list[2])

int

In [82]:
type(my_third_list[3])

str

In [83]:
#מציג את הרשימה מאובייקט באינדקס 4 עד הסוף
my_third_list[4:]

[100, 123.541, 'fff']

In [84]:
my_third_list

[1, 2, 3, 'string', 100, 123.541, 'fff']

In [85]:
#קביעה מחדש של אובייקט
my_third_list[1] = 'two'
my_third_list

[1, 'two', 3, 'string', 100, 123.541, 'fff']

In [86]:
#הוספת אובייקט חדש בעזרת אפנד
my_third_list.append('a')

In [87]:
my_third_list

[1, 'two', 3, 'string', 100, 123.541, 'fff', 'a']

In [88]:
#הוצאת אובייקט מהרשימה והצגתו
my_third_list.pop()

'a'

In [89]:
my_third_list

[1, 'two', 3, 'string', 100, 123.541, 'fff']

In [90]:
#הוצאת אובייקט במיקום אינדקס 2 מהרשימה והצגתו
my_third_list.pop(2)

3

In [91]:
my_third_list

[1, 'two', 'string', 100, 123.541, 'fff']

In [92]:
#מיון
new_unsoted_list = ['e','a','b','d','c']
new_num_unsorted_list = [5,3,4,2,1]

In [93]:
#הפעלת מטודת מיון משנה את סדר האובייקטים בתוך הרשימה ומקבעת אותם במשתנה - לא מחזירה כלום
new_unsoted_list.sort()
new_num_unsorted_list.sort()

In [94]:
new_unsoted_list

['a', 'b', 'c', 'd', 'e']

In [95]:
new_num_unsorted_list

[1, 2, 3, 4, 5]

In [96]:
#הפעלת מטודת רברס הופכת את הסדר בתוך הרשימה ומקבעת בתוך המשתנה - לא מחזירה כלום
new_num_unsorted_list.reverse()

In [97]:
new_num_unsorted_list

[5, 4, 3, 2, 1]

In [98]:
new_num_unsorted_list

[5, 4, 3, 2, 1]

# Dictionaries
מילונים הם כמו רשימות כאשר כל אובייקט מכיל מפתח וערך צמוד

In [99]:
{'key1':'value1','key2':'value2','key3':'value3'}

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [100]:
my_dict = {'key1':'value1','key2':'value2','key3':'value3'}

In [101]:
my_dict['key1']

'value1'

In [102]:
prices_lookup = {'apples':2.99,'oranges':1.99,'milk':5.80}

In [103]:
prices_lookup['apples']

2.99

In [104]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [105]:
d['k2']

[0, 1, 2]

In [106]:
d['k3']['insideKey']

100

In [107]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [108]:
my_dict.values()

dict_values(['value1', 'value2', 'value3'])

In [109]:
my_dict.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

# Tuples
טופלס הוא כמו רשימה רק שלא ניתן לשייך ערכים חדשים לטופל קיים כמו שניתן לראות בדוגמה האחרונה

In [110]:
a = (1,2,3,4)

In [111]:
type(a)

tuple

In [112]:
b = ('a','a','c')

In [113]:
type(b)

tuple

In [114]:
len(a)

4

In [115]:
#מציג את הערך באינדקס אחד
a[1]

2

In [116]:
a[1]

2

In [117]:
#סופר כמה פעמים מופיע איי
b.count('a')

2

In [118]:
#מציג את האינדקס של המופע הראשון של איי
b.index('a')

0

a[0] = 'new'

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-116-ad8dd346d391> in <module>()
----> 1 a[0] = 'new'

TypeError: 'tuple' object does not support item assignment

# Sets
סט הוא כמו רשימה רק שהוא ממיין ומשמיט ערכים זהים

In [119]:
myset = set()

In [120]:
type(myset)

set

In [121]:
myset

set()

In [122]:
#מטודה שמוסיפה
myset.add(1)

In [123]:
myset

{1}

In [124]:
myset.add(2)

In [125]:
myset

{1, 2}

In [126]:
#הוספתי כבר כך שלא משתנה כלום
myset.add(1)

In [127]:
myset

{1, 2}

In [128]:
mylist = [3,2,1,1,1,1,1,2,2,2,1,2,1,2,3,3,3,3,2,2,3]

In [129]:
mylist

[3, 2, 1, 1, 1, 1, 1, 2, 2, 2, 1, 2, 1, 2, 3, 3, 3, 3, 2, 2, 3]

In [130]:
#יצרתי מהרשימה סט ואז היא הצטמצמה והתמיינה
set(mylist)

{1, 2, 3}

In [131]:
mylist = set(mylist)

mylist

{1, 2, 3}

In [132]:
my_2nd_list = ['b','c','a','b','b','b','a','c','b','b','b','a','c','b','b','b','c','b','b','a']

In [133]:
my_2nd_list

['b',
 'c',
 'a',
 'b',
 'b',
 'b',
 'a',
 'c',
 'b',
 'b',
 'b',
 'a',
 'c',
 'b',
 'b',
 'b',
 'c',
 'b',
 'b',
 'a']

In [134]:
set(my_2nd_list)

{'a', 'b', 'c'}

In [135]:
my_3rd_list = ['b','c','a','b','b']

In [136]:
my_3rd_list

['b', 'c', 'a', 'b', 'b']

# booleans
ערכי אמת ושקר

In [137]:
True

True

In [138]:
False

False

In [139]:
type(True)

bool

In [140]:
#השוואה בין ערכים והצגת אמת או שקר

#האם אחד גדול משתיים
1 > 2

False

In [141]:
#האם אחד שווה לאחד
1 == 1

True

In [142]:
#האם 2 שווה ל1 ועוד 1
2 == 1 + 1

True

# I/O with basic files

In [143]:
# בשיטה זו ניתן לכתוב לקובץ בג'ופיטר נוטבוק בלבד

In [144]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Overwriting myfile.txt

In [145]:
#פתיחת הקובץ
myfile = open('myfile.txt')

In [146]:
#קריאת הקובץ
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [147]:
#קריאה נוספת של הקובץ - הסמן בקצה הקובץ ולכן לא מוצג כלום
myfile.read()

''

In [148]:
#הבאת הסמן למיקום אינדקס 0 בקובץ
myfile.seek(0)

0

In [149]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [150]:
#הבאת הסמן למיקום אינדקס 7 בקובץ
myfile.seek(7)

#הדפסה - ממיקום אינדקס 7
print(myfile.read())

his is a text file
this is the second line
this is the third line

In [151]:
myfile.seek(0)

#קריאת הקובץ והפיכת כל שורה בקובץ לערך ברשימה

myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line']

In [152]:
#שיטה נוספת לקריאת הקובץ
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [153]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [154]:
#פתיחת הקובץ במוד קריאה
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [155]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [156]:
%%writefile my_new_file.txt
one on first
two on second
three on third

Overwriting my_new_file.txt

In [157]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

one on first
two on second
three on third

In [158]:
#פתיחת הקובץ ואז כתיבת שורה נוספת - אפנד
with open('my_new_file.txt',mode='a') as f:
    f.write('\nfour on forth')

In [159]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

one on first
two on second
three on third
four on forth

In [160]:
#פתיחת קובץ במקרה הזה לא קיים במוד כתיבה וכתיבת טקסט לקובץ
with open('abcdefg.txt',mode='w') as f:
    f.write('bla bla')

In [161]:
#קריאת התוכן והדפסה למסך
with open('abcdefg.txt',mode='r') as f:
    print(f.read())

bla bla

# Comparison operators

In [162]:
#האם 1 שווה אחד
1 == 1

True

In [163]:
#האם 1 גדול מ2
1 > 2

False

In [164]:
#האם 1 קטן מ2
1 < 2

True

In [165]:
#האם 2 שונה מ2
2 != 2

False

In [166]:
#האם המחרוזת 3 שונה מהמספר 3
'3' != 3

True

In [167]:
#האם 5 קטן מ6 קטן או שווה ל6 גדול או שווה ל6
5 < 6 <= 6 >= 6.0

True

In [168]:
#האם 1 שווה ל1.0 וגם 2 שווה 2
1 == 1.0 and 2 == 2

True

In [169]:
#האם 1 שווה 2 וגם 3 שווה 3
1 == 2 and 3 == 3

False

In [170]:
#האם 2 קטן מ1 או 1 שווה 1
(2 < 1) or (1 == 1)

True

In [171]:
#האם לא 2 קטן מ1
not 2 < 1

True

# If, elif, else Statments

In [172]:
name = input()

# אם שם שווה אור
if name.lower() == 'or':
    # תדפיס - השם שלי אור
    print(f'My name is {name}.')
# אחרת אם שם שווה דנה
elif name.lower() == 'dana':
    # תדפיס - דנה עובדת בצ'קפויינט
    print(f'{name} is working at Checkpoint.')
# אחרת אם שם שווה יותם 
elif name.lower() == 'yotam' :
    # תדפיס - ליותם יש דיאטסו
    print(f'{name} have DAIHATSU.')
# אחרת
else :
    # תדפיס - שם, אני לא יודע מה לעשות
    print(f'{name}, i dont know what to do!!!')

or
My name is or.

# For Loops

In [173]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [174]:
# עבור משתנה ברשימה שלי
for num in mylist:
    # תדפיס הלו
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [175]:
# עבור משתנה ברשימה שלי
for num in mylist:
    # תדפיס משתנה
    print(num)

1
2
3
4
5
6
7
8
9
10

In [176]:
# עבור משתנה ברשימה שלי
for num in mylist:
    # האם השארית של החילוק ב2 במשתנה שווה ל0 - מספר זוגי
    if num % 2 == 0:
        # תדפיס משתנה
        print(num)
    # אחרת
    else:
        # תדפיס מספר אי זוגי ואז את המשתנה
        print(f'Odd number {num}')

Odd number 1
2
Odd number 3
4
Odd number 5
6
Odd number 7
8
Odd number 9
10

In [177]:
list_sum = 0

# עבור כל אובייקט ברשימה שלי
for num in mylist:
    # תשייך מחדש את את המשתנה לערך המשתנה ועוד ערך מתוך הרשימה
    list_sum = list_sum + num
# לבסוף תדפיס את ערך המשתנה
print(list_sum)

55

In [178]:
# עבור כל אובייקט ברשימה שלי
for num in mylist:
    # תשייך מחדש את את המשתנה לערך המשתנה ועוד ערך מתוך הרשימה
    list_sum = list_sum + num
    # תדפיס בכל פעם את ערך המשתנה
    print(list_sum)

56
58
61
65
70
76
83
91
100
110

In [179]:
name_list = ['Or','Dana','Yotam','Matan','Metushelah']

for name in name_list:
    if name == 'Or':
        print(f'My name is {name}.')
    elif name == 'Dana':
        print(f'{name} is working at Checkpoint.')
    elif name == 'Yotam' :
        print(f'{name} have DAIHATSU.')
    else :
        print(f'{name}, i dont know what to do!!!')

My name is Or.
Dana is working at Checkpoint.
Yotam have DAIHATSU.
Matan, i dont know what to do!!!
Metushelah, i dont know what to do!!!

In [180]:
from time import sleep
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    sleep(0.5)
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [181]:
# רשימה המכילה זוגות טופאלס
mylist = [(1,2),(3,4),(5,6),(7,8)]
# אורך הרשימה
len(mylist)

4

In [182]:
# עבור כל זוג איי, בי שברשימה שלי
for (a,b) in mylist:
    # הדפס את ערך איי
    print(a)
    # הדפס את ערך בי
    print(b)

1
2
3
4
5
6
7
8

In [183]:
# ניתן לבצע גם ללא סוגריים
for a,b in mylist:
    print(a)

1
3
5
7

In [184]:
# רשימה די מכילה דיקשינרי
d = {'k1':100, 'k2':20, 'k3':33}

#  עבור כל איקס ברשימה די
for _ in d:
    # הדפס את איקס - מפתח
    print(_)

k1
k2
k3

In [185]:
# עבור כל אובייקט המכיל את הפריטים מפתח וערך
for aaa,bbb in d.items():
    # תדפיס את המפתח
    print(aaa)
    # תדפיס את הערך
    print(bbb,'\n')

k1
100

k2
20

k3
33

In [186]:
x = [1,2,3]

# עבור פריט באיקס
for item in x:
# תוותר
    pass
print('The end')

The end

In [187]:
mystring = 'Sammy'

In [188]:
# כאשר מתישהו בלופ מגיעים ל-איי תמשיך בלופ לאובייקט הבא

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [189]:
x = '0'


for _ in x:
    pass
print("this is the end!")

this is the end!

In [190]:
# עבור כל איקס בתחום 0 עד 11 לא כולל בדילוגים של 2 הדפס את איקס

for _ in range(0,11,2):
    print(_)

0
2
4
6
8
10

# While Loops

In [191]:
x = 0

# כל זמן שאיקס קטן מ5
while x < 5:
    # תדפיס - הערך של איקס הוא ערך איקס
    print(f'the value is: {x}')
    # תשייך מחדש לאיקס את הערך ששמור בו ועוד 1
    x += 0.9
# אחרת תדפיס איקס הוא לא קטן מ5
else:
    print('X is not less than 5')

the value is: 0
the value is: 0.9
the value is: 1.8
the value is: 2.7
the value is: 3.6
the value is: 4.5
X is not less than 5

In [192]:
x = 0

# כל זמן שאיקס קטן מ5
while x<5:
    # אם איקס שווה ל2 תפסיק
    if x == 2:
        break
    # תדפיס את הערך הנוכחי של איקס
    print(x)
    # תשייך מחדש לאיקס את הערך ששמור בו ועוד 1
    x += 1

0
1

In [193]:
x = 2

number = 5000

while x < number:
    print(x)
    x =+ x*2

2
4
8
16
32
64
128
256
512
1024
2048
4096

# Built-in functions

In [194]:
# שיטה רגילה של שיוך למשתנה מספר גדול ב-1 בכל פעם

index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [195]:
# פונקציית ספירה

word = 'abcdefg'

for index,letter in enumerate(word):
    print(f'At index {index} the letter is {letter}')

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
At index 5 the letter is f
At index 6 the letter is g

In [196]:
# פונקציה של יצירת רשימת מספרים ממכולל רשימת מספרים
# בתחום שבין 0 ל-41 לא כולל 41 בדילוגים של 2

list(range(0,41,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [197]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = ['alpha','beta','gama','delta']

In [198]:
# קיבוץ ערכים מרשימות לפי הסדר כך שיווצר טופל
# כאשר יש רשימות קצרות יותר מהאחרות הם יחתכו את הערכים לרשימות האחרות

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 'alpha')
(2, 'b', 'beta')
(3, 'c', 'gama')

In [199]:
# עבור האובייקטים בטופול הדפס את האובייקטים
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(f'{a} {b} {c}')

1 a alpha
2 b beta
3 c gama

In [200]:
# האם הערך נמצא ברשימה
'y' in [1,2,3]

False

In [201]:
'y' in ['x','y','z']

True

In [202]:
# האם הערך נמצא במחרוזת

'o' in 'hello world!'

True

In [203]:
# האם הערך נמצא באחד המפתחות
'key' in {'kye':456,'key':123}

True

In [204]:
d = {'key':123}

# האם המספר נמצא באחד הערכים של אחד המפתחות
123 in d.values()

True

In [205]:
# האם המספר נמצא באחד המפתחות 
123 in d.keys()

False

In [206]:
# האם המחרוזת נמצאת בטופול
'y' in ('x','y','z')

True

In [207]:
mylist = [1,4,8,123,76543]

In [208]:
# מספר מינימלי ברשימה
min(mylist)

1

In [209]:
# מספר מקסימלי ברשימה
max(mylist)

76543

In [210]:
# יבוא מתוך ספריית רנדום את שפל
from random import shuffle

In [211]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [212]:
# מערבב את הרשימה בתוך המשתנה
shuffle(mylist)

In [213]:
mylist

[4, 8, 2, 9, 10, 1, 3, 6, 5, 7]

In [214]:
# יבוא ספריה של מספר שלם אקראי
from random import randint

In [215]:
# הצג מספר אקראי בין 0 ל100
randint(0,100)

44

In [216]:
# משייך למשתנה ערך שמתקבל מהמשתמש
name = input('What is your name? ')

What is your name? Jose

In [217]:
name

'Jose'

In [218]:
# הפיכת המחרוזת שהוכנס בה מספר למספר שלם
number = int(input('Give me a number: '))

Give me a number: 45

In [219]:
type(number)

int

In [220]:
# הפיכת המחרוזת 1 למספר שלם
type(int('1'))

int

In [221]:
# הפיכה למספר עשרוני
type(float('1'))

float

# List Comprehensions

### דוגמה 1

In [222]:
mystring = 'hello'

In [223]:
# יצירת רשימה ריקה
mylist = []

# עבור כל אות במחרוזת שלי
for letter in mystring:
    # הוסף אות
    mylist.append(letter)

In [224]:
# המשתנה מכיל רשימה של אותיות
mylist

['h', 'e', 'l', 'l', 'o']

In [225]:
# קיצור התהליך
mylist2 = [letter for letter in mystring]

In [226]:
# המשתנה מכיל רשימה של אותיות
mylist2

['h', 'e', 'l', 'l', 'o']

### דוגמה 2

In [227]:
# יצירת רשימה ריקה
mylist = []

# עבור איקס ברשימת המספרים
for x in [2,4,6]:
    # עבור וואי ברשימת המספרים
    for y in [1,10,1000]:
        # הוסף לרשימה כל מספר איקס כפול כל מספר וואי
        mylist.append(x*y)

In [228]:
# רשימת תוצאות כל מספרי האיקס מוכפלים בכל מספרי הוואי
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [229]:
# קיצור התהליך
mylist2 = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [230]:
# רשימת תוצאות כל מספרי האיקס מוכפלים בכל מספרי הוואי
mylist2

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

## Help

In [231]:
# מציג עזרה עבור פונקציה מובנית
help(mylist.insert)

Help on built-in function insert:

insert(...) method of builtins.list instance
    L.insert(index, object) -- insert object before index

# Function

In [232]:
# הגדרת "פונקצית חיבור" עם פרמטרים
def add_func(num1,num2):
    # מחזירה חיבור של 2 הפרמטרים
    return num1+num2
# משתנה תוצאה שווה ל-פונקציית חיבור עם פרמטר 1, 2
result = add_func(1,2)
# הדפס תוצאה
print(result)

3

In [233]:
# הגדר פונקציה כאשר בתוך 3 מרכאות ישנו הסבר שמופיע כאשר מציגים עזרה על הפונקציה
def name_function():
    '''
    DOCSTRING: Information about the function
    INPUT: no input
    OUTPUT: Hello
    '''
    print('Hello')

In [234]:
# הרצת הפונקציה
name_function()

Hello

In [235]:
# עזרה על הפונקציה שיצרנו מציגה הסבר שכתבנו
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: Information about the function
    INPUT: no input
    OUTPUT: Hello

In [236]:
# הגדרת פונקצהיה עם ערך ברירת מחדל שמדפיסה
def say_hello(name='NAME'):
    print('hello '+name)

In [237]:
# מדפיסה עם ערך ברירת מחדל
say_hello()

hello NAME

In [238]:
say_hello('Jose')

hello Jose

In [239]:
result = say_hello('Or')

hello Or

In [240]:
# לא קורה כלום בגלל שהפונקציה לא מחזירה כלום אלא מדפיסה
result

In [241]:
type(result)

NoneType

In [242]:
# הגדרת פונקציה שמחזירה תוצאה
def return_hello(name='NAME'):
    return('hello '+name)

In [243]:
# המשתנה שווה לערך שמוחזר מהפונקציה
result_=return_hello('Moshe')

In [244]:
# מציג את ערך המשתנה
result_

'hello Moshe'

In [245]:
# מדפיס את ערך המשתנה
print(result_)

hello Moshe

In [246]:
# פונקציה שמחזירה תוצאה של חיבור
def add(n1,n2):
    return n1+n2

# המשתנה שווה לערך שמוחזר מהפונקציה
result = add(20,30)

In [247]:
# מציג את ערך המשתנה
result

50

In [248]:
# חפש האם המילה כלב מופיעה במחרוזת שהאותיות שלה מוקטנות
def dog_check(mystring):
    if 'dog' in mystring.lower():
        return True
    else:
        return False

In [249]:
dog_check('Dog ran away')

True

In [250]:
dog_check('cat ran away')

False

In [251]:
# חפש האם המילה כלב מופיעה במחרוזת שהאותיות שלה מוקטנות
# מצומצם
def dog(mystring):
    return 'dog' in mystring.lower()

In [252]:
dog('Dog ran away')

True

In [253]:
dog('Cat ran away')

False

## *args and **kwargs

In [254]:
# פונקציה שניתן להכניס אליה כמה פרמטרים מספריים שרוצים
def myfunc(*args):
    return args

    
a = myfunc(1,2,3,4)

In [255]:
print(a)

(1, 2, 3, 4)

In [256]:
type(a)

tuple

In [257]:
# פונקציה שניתן להכניס אליה כמה פרמטרים עם מפתחות שרוצים
def myfunc(**kwargs):
    # מדפיס את המפתחות
    print(kwargs)
    # אם מופיע מפתח פרי
    if 'fruit' in kwargs:
        # תדפיס את הערך של הפרי
        print('My fruit of choise is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [258]:
myfunc(fruit='apple',veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choise is apple

In [259]:
myfunc(veggie='cucumber',spice='cinemon')

{'veggie': 'cucumber', 'spice': 'cinemon'}
I did not find any fruit here

In [260]:
# פונקציה שמכילה גם משתנים מספריים וגם מפתחות
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[1],kwargs['food']))
    
# הכנסת פרמטרים לפונקציה שהם גם מספרים וגם מפתחות עם ערכים
# יש להכניס באותו הסדר שהפונקציה מקבלת את הפרמטרים - קודם מספרים ואח"כ מפתחות
myfunc(10,20,30,fruit='orange',food='cookies',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'cookies', 'animal': 'dog'}
I would like 20 cookies

In [261]:
# פונקציה שלוקחת מספרים ומחזירה רק מספרים זוגיים
def myfunc(*args):
    mylist = []
    for num in args:
        if num%2 == 0:
            mylist.append(num)
    return mylist

myfunc(1,2,3,4,5,6,7,8,10,11,34,33)

[2, 4, 6, 8, 10, 34]

In [262]:
# פונקציה שמחזירה מחרוזת כאשר כל אות אי זוגית קטנה ואות זוגית גדולה
def myfunc(string):
    x=1
    str2=''
    for i in string:
        if x%2 != 0:
            str2 += i.lower()
            x+=1
        else:
            str2 += i.upper()
            x+=1
    return str2

In [263]:
myfunc('floccinaucinihilipilification')

'fLoCcInAuCiNiHiLiPiLiFiCaTiOn'

## Map

In [264]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [265]:
names = ['Andy', 'Eve', 'Sally']

In [266]:
# הכנס לרשימה לפונקציית 'מפה' את הפונקציה שיצרנו עם רשימת השמות
# הפונקציה מפה תריץ את הפונקציה כמה פעמים, בכל פעם עם ערך אחר מהרשימה ותחזיר את התוצאה
# בגלל שזה עטוף בפונקציה רשימה, התוצאה תוחזר כרשימה
list(map(splicer,names))

['EVEN', 'E', 'S']

In [267]:
# לולאת פור שמדפיסה את התוצאות
for n in map(splicer,names):
    print(n)

EVEN
E
S

In [279]:
def square(num):
    return num**2

In [280]:
my_nums = [1,2,3,4,5]

In [283]:
# עבור כל פריט ברשימה תריץ לי את הפונקציה עם אותו פריט ותדפיס את התוצאה
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [284]:
# תיצור רשימה שמכילה תוצאות של הרצת הפונקציה עם הרשימה
list(map(square,my_nums))

[1, 4, 9, 16, 25]

## Filter

In [268]:
def check_even(num):
    return num%2 == 0

In [269]:
mynums = [1,2,3,4,5,6,7,8]

In [270]:
# מריץ את הפונקציה ע"י פונקצית פילטר שמזירה רק תוצאות אמת
# מחזיר תוצאות ברשימה בגלל שזה עטוף בפונקציית רשימה
list(filter(check_even,mynums))

[2, 4, 6, 8]

In [271]:
# מחזיר תוצאות בלולאת פור
for n in filter(check_even,mynums):
    print(n)

2
4
6
8

## Lambda expression

פונקציה מכווצת שמחזירה תוצאה ממשתנה שמכניסים לה

In [272]:
square = lambda num: num**2

In [273]:
square(5)

25

In [274]:
# הכנסת רשימה של מספרים והרצה בלמבדה
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36, 49, 64]

In [275]:
# שימוש בפילטר והכנסת רשימת מספרים
list(filter(lambda num: num%2 == 0, mynums))

[2, 4, 6, 8]

In [276]:
names

['Andy', 'Eve', 'Sally']

In [277]:
# שימוש במפה
list(map(lambda x: x[::-1],names))

['ydnA', 'evE', 'yllaS']

In [278]:
list(map(lambda y: y[0],['apple','orange', 'banana']))

['a', 'o', 'b']

# Scope

In [290]:
y = 60

def funcy():
    # וואי שווה מקומית ל70 ולכן לא ישתנה את הערך הגלובלי של וואיי
    y = 70
    print(y)

In [291]:
# מקומית בתוך הפונקציה הערך הוא 70
funcy()

70

In [293]:
# גלובלית הערך הוא עדיין 60
print(y)

60

In [294]:
x = 50

def func():
    global x
    print(f'X is {x}')
    
    # שיוך מחדש מקומי על משתנה גלובלי
    x = 'new value'
    print(f'i just locally changed global X to {x}')

In [295]:
# הערך הוא חמישים, המשתנה הוא גלובלי מחוץ לפונקציה
print(x)

50

In [296]:
# לאחר שמריצים את הפונקציה זה משנה את איקס גלובלית לערך חדש
func()

X is 50
i just locally changed global X to new value

In [297]:
# עכשיו גלובלית איקס שווה ערך חדש
print(x)

new value